VITE_SUPABASE_URL=https://kxjcnjdzxldprphwjfiu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt4amNuamR6eGxkcHJwaHdqZml1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4OTIyNjcsImV4cCI6MjA5NzQ2ODI2N30.PiJAS_P0Or73rMvZYPtbdXmUPaikumZVWAyn5U3NmG0
